<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            {% for my_page in site.pages %}
              {% if my_page.title == 'About'%}
              <li class="">
                <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
          
        </div>

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="h0 inline-block col-9 sm-width-full py-4 mt-3 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <div class="col-4 sm-width-full left border-top-thin">
              <div class="table">
                <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div>
                <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div>
                <div class="inline-block mt-3">
                  {% include github.html %}
                </div>
              </div>
              <!-- Set site description in config.yml -->
              <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p>
            </div>

            <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 table">
                <div class="inline-block mt-3 mr-1">
                  {% include {{ site.social_link | default: "facebook" }}.html %}
                </div>
                
                <div class="inline-block mt-3 mr-1">
                  {% include {{ site.social_link | default: "twitter" }}.html %}
                </div>
                <div class="inline-block mt-3 mr-1">
                  {% include {{ site.social_link | default: "instagram" }}.html %}
                </div>
            </div>
          </div>

        </div>
      </header>

      <div class="container mx-auto px-2 py-4">
          {% for chapter in site.chapters %}
          <li>
            <a class="inline-block" href="{{ chapter.url | prepend: site.baseurl }}">Chapter {{ chapter.chapter }}</a>
          </li>
          {% endfor %}
        <div class="container mx-auto px-2 py-4">
          {% for post in paginator.posts %}
            {% include post_block.html %}
          {% endfor %}
        </div>
        <div class="pagination" style="margin-left: 13%;">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">
              Previous
            </a>
          {% else %}
            <span class="previous">Previous</span>
            <!-- <button type="button" class="btn btn-warning">Previous</button> -->
          {% endif %}
          <span class="page_number ">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
          </span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
          {% else %}
            <span class="next">Next</span>
          {% endif %}
        </div>
      </div>
      </div>
    {% include footer.html %}

  </body>

</html>
